.card-field {
    width: 100%;

    margin-left: 20rem;
    margin-right: 15rem;
    margin-top: 80px;
    height: calc(100vh - 60px); /* Full height minus any header */
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}



.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Two columns of cards */
    grid-gap: 16px; /* Space between cards */
    max-height: 100%; /* To ensure cards fit in the scrollable area */
    overflow-y: auto; /* Enables scroll only for the card container */
}
