.sidebar {
    border-right: 1px solid #ddd;
    background-color: rgb(7, 8, 37);
    padding: 100px 16px 60px;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}


.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}