.sidebar {
    border-right: 1px solid #ddd;
    background-color: rgb(7, 8, 37);
    padding: 16px;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 15rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-100%);
    opacity: 1;
    pointer-events: auto;
}

.sidebar.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.sidebar.closed {
    transform: translateX(-80%);;
    pointer-events: none;
}

.sidebar input,
.sidebar label,
.sidebar select {
    display: block;
    margin-bottom: 10px;
    background-color: #0b145c;
    border: none;
}

.sidebar.closed input,
.sidebar.closed label,
.sidebar.closed select {
    display: block;
    margin-bottom: 10px;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar label {
    display: flex; /* Align items inline */
    align-items: center; /* Vertically center the checkbox with text */
    margin-bottom: 10px;
    background-color: #0b145c;
}

.sidebar-item {
    display: block;
    margin-bottom: 10px;
    width: 80%;
    padding: 8px;
    color: #5f62ae;
}


.sidebar select {
    width: 87%;
    color: #5f62ae;
}

.sidebar input[type="text"]::-webkit-input-placeholder
{
    width: 80%;
    color: #5f62ae;
}

.sidebar button {
    width: 100%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    text-align: center;
}