.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 60px; /* Set a fixed height for consistent layout */
}

.navigation-bar button {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.navigation-bar button:hover {
    cursor: pointer;
    color: #ddd;
}