.main-content {
  display: flex;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  background-color: #101022;
}

::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}